
div.header-section {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #4A6AA4;
  font-family: Roboto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4A9CEE;
}

li {
  float: right;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.title {
  background-color: #5A5A5A;
  float: left;
  font-weight: bolder;
}

div.header-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
}

div.header-info button {
  color: white;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: .1rem;
  padding: 5px;
  border-radius: 8px;
  width: fit-content;
  background-color: #4A9CEE;
}