* {
  font-family: 'Roboto', sans-serif !important;
  box-sizing: border-box;
}

body {
  margin: 0;
}
.nav {
  background-color: #104A7B;
  overflow: hidden;
}

.nav a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav a:hover {
  background-color: #E6E69C;
  color: black;
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
  background-color: #29739C;
  text-align: center;
}

.header-row::after{
  content: "";
  display: table;
  clear: both;
}

.header-row button {
  background-color: #838383;
  color: white;
  border: 2px solid #E6E69C;
  border-radius: 8px;
  transition-duration: 0.4s;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  padding: 15px 32px;

}

.header-row button:hover {
  background-color: #E6E69C;
  color: black;
}

#header-image {
  width: 600px;
  height: auto;
  border: #5A5A5A solid 5px;
  margin-bottom: 2px;
}


